@mixin vertical-center-align {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container, .forgot-pw-form {
    @include vertical-center-align();
}

.top-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 2em;
}

.description {
    margin-top: 1em;
    margin-bottom: 2em;
}

.form-msg {
    margin-top: 1.5em;
    text-align: center;
    font-size: 12px;
}