<div class="container">
    <div class="top-bar">
        <div class="arrow" routerLink="/">
            <mat-icon class="arrow-back-icon">arrow_back</mat-icon>
        </div>
        <div></div>
    </div>
    <div class="page-title">
        <h2>Forgot password?</h2>
    </div>
    <div class="description">
        <p>We will send an email to reset your password</p>
    </div>
    <div>
        <form class="forgot-pw-form" [formGroup]="forgotPwForm" (ngSubmit)="sendEmail()">
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput [formControl]="email" required>
            </mat-form-field>
            <mat-error *ngIf="selectedField == '' && forgotPwForm.get('email').errors && forgotPwForm.get('email').dirty">
                <mat-error *ngIf="forgotPwForm.get('email').errors.required">Email is required</mat-error>
                <mat-error *ngIf="forgotPwForm.get('email').errors.pattern">Invalid email</mat-error>
            </mat-error>
            <div class="button-block">
                <button mat-raised-button color="primary" [disabled]="!forgotPwForm.valid">Send email</button>
            </div>
        </form>
        <div class="form-msg">
            <p>{{formMessage}}</p>
        </div>
    </div>
    <div class="footer">Fraseology App &#9400;</div>
</div>
