@mixin vertical-center-align {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container, .menu-options {
    @include vertical-center-align();
}

.top-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 2em;
}

.user-icon {
    width: 2em;
}

.user-icon:hover, .app-icon:hover {
    cursor: pointer;
}

.app-icon {
    width: 2em;
}

.license {
    display: none;
}

button {
    width: 15em;
    margin-top: 1.5em;
}

.home-text {
    margin-top: 2em;
}

.menu-item {
    text-align: center;
}

.menu-item:hover {
    cursor: pointer;
    background-color: #ff6eff;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: black;
}

.menu-btn a {
    color:white !important;
}

.expression-card {
    width: 70vw;
}

.header-block {
    background-color: #ac00cb;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-block, .content-block {
    padding-top: 1em;
}

.star-icon {
    margin-right: 2em;
    margin-bottom: 1em;
}

.star-icon:hover {
    cursor: pointer;
}

.expression-title {
    color: white;
}

hr {
    margin-bottom: 1em;
    border-color: #ac00cb;
}

.section {
    font-weight: bold;
}

.notes {
    font-size: 12px;
}

.expression-card {
    width: 70vw;
}
