@mixin vertical-center-align {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container, .menu-options {
    @include vertical-center-align();
}

.top-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 2em;
}

.user-icon {
    width: 2em;
}

.user-icon:hover {
    cursor: pointer;
}

.app-icon {
    width: 2em;
}

.license {
    display: none;
}

button {
    width: 15em;
    margin-top: 1.5em;
}

.search-icon {
    transform: scale(1.5);
}

.home-text {
    margin-top: 2em;
}

.menu-item {
    text-align: center;
}

.menu-item:hover {
    cursor: pointer;
    background-color: #ff6eff;
}

a {
    text-decoration: none;
}

a:link, button a:visited {
    color: black;
}

.menu-btn a {
    color:white !important;
}

.search-text {
    margin-top: 2em;
}

.dialog-squares {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 30vw;
    justify-content: space-around;
}

.dialog-square-first, .dialog-square-second {
    position: relative;
    height: 40px;
    width: 150px;
    border-radius: 8px;
    background: white;
    box-shadow: 0.5px 8px 25px #ac00cb;
    padding: 1em;
    text-align: center;
    align-self: flex-end;
}

.dialog-square-second {
    height: 25px;
    width: 160px;
}

.dialog-square-first:before {
    border: 25px solid white;
    content: '';
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    position: absolute;
    bottom: -35px;
    left: calc(20% - 25px)
}

.dialog-square-second:before {
    border: 25px solid white;
    content: '';
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    position: absolute;
    bottom: -35px;
    left: calc(80% - 25px)
}

.search-results {
    margin-top: 3em;
}

.no-results {
    color: #ff6eff;
}

.expression-card {
    margin-top: 1em;
}

.expression-card:hover {
    cursor: pointer;
    background-color: #ff6eff;
}

.expression-title {
    font-size: 20px;
}