<div class="container">
    <div class="top-bar">
        <div class="arrow" routerLink="/">
            <mat-icon class="arrow-back-icon">arrow_back</mat-icon>
        </div>
    </div>
    <div>
        <h2>Reset password</h2>
    </div>
    <form class="reset-pw-form" [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
        <mat-form-field appearance="fill">
            <mat-label>New password</mat-label>
            <input type="password" matInput [formControl]="password" required (focus)="onFocus('password')" (blur)="onBlur()">
        </mat-form-field>
        <mat-error *ngIf="selectedField == '' && resetPasswordForm.get('password').errors && resetPasswordForm.get('password').dirty">
            <mat-error *ngIf="resetPasswordForm.get('password').errors.required">Password is required</mat-error>
            <mat-error *ngIf="resetPasswordForm.get('password').errors.minlength">Password should be at least 8 characters long</mat-error>
        </mat-error>
        <mat-form-field appearance="fill">
            <mat-label>Repeat password</mat-label>
            <input type="password" matInput [formControl]="repeatPassword" required (focus)="onFocus('repeatPassword')" (blur)="onBlur()">
        </mat-form-field>
        <mat-error *ngIf="selectedField == '' && resetPasswordForm.get('repeatPassword').errors && resetPasswordForm.get('repeatPassword').dirty">
            <mat-error *ngIf="resetPasswordForm.get('repeatPassword').errors.required">Password is required</mat-error>
            <mat-error *ngIf="resetPasswordForm.get('repeatPassword').errors.minlength">Password should be at least 8 characters long</mat-error>
        </mat-error>
        <mat-error *ngIf="selectedField == '' && validatorEquality()">Passwords do not match, please retype.</mat-error>
        <div class="button-block">
            <button mat-raised-button color="primary" [disabled]="!resetPasswordForm.valid">Reset password</button>
        </div>
        <mat-error class="error-msg">{{errorMessage}}</mat-error>
        <mat-error class="error-msg">{{formMessage}}</mat-error>
    </form>
    <div class="footer">Fraseology App &#9400;</div>
</div>