@mixin vertical-center-align {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container, .settings {
    @include vertical-center-align();
}

.top-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 2em;
}

.user-icon {
    width: 2em;
}

.user-icon:hover, .app-icon:hover {
    cursor: pointer;
}

.app-icon {
    width: 2em;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: black;
}

.menu-item {
    text-align: center;
}

.menu-item:hover {
    cursor: pointer;
    background-color: #ff6eff;
}