<div class="container">
    <div class="login-btn">
        <button class="google-button" (click)="signInWithGoogle()"><img class="google-logo" src="../../../../assets/images/g-logo.png" alt="Google logo"><span class="google-btn-text">Sign in with Google</span></button>
    </div>
    <div class="login-btn">
        <button class="fb-button" (click)="signInWithFB()"><img class="fb-logo" src="../../../../assets/images/f_logo_RGB-White_250.png" alt="Facebook logo">Sign in with Facebook</button>
    </div>
</div>
