@import url('https://fonts.googleapis.com/css2?family=Oxygen+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* COLORS */
$bg-color: #FDF7F7;

/* FONTS */
$logo-font: 'Oxygen Mono', monospace;
$general-font: 'Roboto', sans-serif;